################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/PTSIdentity/.vs/PTSIdentity/v16/Server/sqlite3/db.lock
PTSIdentity/.vs/PTSIdentity/v16/Server/sqlite3/storage.ide-shm
